
/* main classes */

.margin-top-40{
    margin-top: 40px;
}

.margin-bot-40{
    margin-top: 40px;
}

#myfridgechef{
    background-image: url("/src/assets/images/pattern_bg.png");
    background-color: #2a2a2a;
    background-size: cover;
}

#phoneView{
    min-height: 100vh;
    background-color: #ffffff;
}

.displayInLine{
    display: inline-block;
}

.card{
    margin: 40px auto;
}


/* mobile  */
@media only screen and (min-width: 350px) {
    .card{
        width: 18rem;
    }
}
/* tablet  */
@media only screen and (min-width: 768px) {
    .card{
        width: 40rem;
    }
  }

/* desktop  */
@media only screen and (min-width: 1024px) {
    .card{
        width: 40rem;
    }
}
