
/* main classes */

.margin-top-40{
    margin-top: 40px;
}

.margin-bot-40{
    margin-top: 40px;
}
.spacer_40{
    min-height: 40px;
}
/* navigation  */
nav{
    margin: 0;
    padding: 0;
    background-color: #BADEFC;
    background-image: url("/src/assets/images/crosshatch_pattern_01.png");
    height: 110px;
}

.jumbotron{
    box-shadow: 0 0 5px;
    background-image: url("/src/assets/images/crosshatch_pattern_01.png");
}

.jumbotron h1{
    font-family: 'IndieFlower';
    font-weight: bold;
    color: #007bff;
    text-shadow: 0 0 1px #000;
}

.jumbotron h3, .jumbotron label, .jumbotron h2{
    color: #007bff;
    text-shadow: 0 0 1px #000;
}

nav img{
    width: 60px;
}

.logo-container{
    top: 8px;
    text-align: center;
    width: 120px;
    height: 102px;
    position: absolute;
}

.social_logos{
    width: 100%;
    text-align: center;
}

.socialLogo{
    display: inline-block;
    margin:40px 25px 0 25px;
}

.socialLogo, .socialLogo img {
    width: 40px;
}

.jumbotron{
    margin: 20% auto 0 auto;
}

.render{
    width:100%;
}

nav{
    box-shadow: 0 0 5px;
}

#name{
    padding: 10px 0px 10px 10px;
    font-family: 'BadScript-Regular';
    font-size: 1.3em;
    font-weight: bold;
    text-transform: capitalize;
    padding:8px 0 0 0 !important;
    margin: 0 !important;
}

.findRecipesContainer{
    width: 90%;
    margin: 20px auto 0 auto;
}

.navigation{
    position: sticky;
    top: 0;
    z-index: 1000;
}

#menuBtn{
    font-size: 30px;
    margin-left: 90%;
}

#myfridgechef{
    background-image: url("/src/assets/images/pattern_bg.png");
    background-color: #2a2a2a;
    height: 100%;
}

#phoneView{
    min-height: 100vh;
    background-color: #ffffff;
}

.displayInLine{
    display: inline-block;
}

.card{
    margin: 40px auto;

}

.recipeCard{
    width: 100% !important;
}

#recipe{
    border: 1px solid #444444;
    position: sticky;
    top: 90px;
    box-shadow: 0px 0px 20px #444444;
    background-color: #ffffff;
    z-index: 1000;
}

.close {
    font-size: 3rem;
    margin-bottom: 10px;
}


#searchAnimation{
    background-image: url("/src/assets/images/search.gif");
    min-height: 500px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
}

.preparationStep{
    font-size: 1.8em;
}

.owned{
    background-color: #98FB98 !important;
}
.shadow-tip{
    background-color: #ffffcc;
    border-radius: 20px;
    padding: 10px;
}


.tag{
    display: inline-block;
    border: 1px solid #333;
    text-align: center;
    border-radius: 2px;
    color: #333;
    padding: 2px 10px;
    margin: 5px 10px;
}

.animate{
    top: 0 !important;
    transition: 0.5s;
}

#ieBlocker{
    height: 100vh;
    width: 100vh;
    text-align: center;
    color: red;
}

/* mobile  */
@media only screen and (min-width: 350px) {
    .card{
        width: 18rem;
    }
}
/* tablet  */
@media only screen and (min-width: 768px) {
    .card{
        width: 40rem;
    }
  }

/* desktop  */
@media only screen and (min-width: 1024px) {
    .card{
        width: 40rem;
    }
}

/* best match ranking */

/* #results > div:nth-child(1) > div{
    box-shadow: 0px 0px 5px 5px #F9A602; 
} */

/* #results > div:nth-child(2) > div{
    box-shadow: 0px 0px 5px 5px #C0C0C0; 
}

#results > div:nth-child(3) > div{
    box-shadow: 0px 0px 5px 5px #B87333; 
} */